<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/loading-bar.css">
    <script type="text/javascript" src="/loading-bar.js"></script>
    
    <!-- for tailwind (uncomment when ready to use) -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/custom_styles.css">

    <script src="https://sdk.scdn.co/spotify-player.js"></script>

    <title>Player</title>
</head>


<body>
<p id="access" class="hidden"> <%= access_token ;%></p>
<p id="playlistLength" class="hidden"> <%= playlistLength ;%></p>

<div class="flex justify-center">
    <div class="main">
        <!-- nav bar -->

        <div class="navbar">
            <a href="/home">
                <img src="/Logo.svg" class="p-2 h-14" />
            </a>
            <div class="justify-end pt-3">


                <a class="hover:text-xl pr-6  font-bold text-main-green text-lg" href="/generate">Generate</a>

                <a class="hover:text-xl pr-6  font-bold text-main-green text-lg" href="/load">Load</a>

            </div>

        </div>


        <div>
            <h3 id="countDown">Timer</h3>
            <!-- var checkers-->
            <h2 id="counterhtml" style="display:none">count</h2>
            <h2 id="timerhtml"style="display:none">Timeleft</h2>
            <h2 id="percentage"style="display:none">percent</h2>
            <h2 id="debug"style="display:none">debug</h2>
           
        </div>

        <div class="flex justify-between">

            <div class = " play flex center">
            <!-- pause/play button -->
            <button id="ppButton"
                    class=" layer1 my-5 mx-8 bg-gray-600 paused unStarted first rounded-full h-fit opacity-50 cursor-not-allowed">
                <img id="ppButtonPic" src="/playButton.svg" alt="play button">
            </button>
            
             <!-- progress bar// loading.io style --> 
            <div id="help"
            data-preset="circle"
            class="ldBar layer2 label-center"
            data-value="0"
            style="width:300px; height:400px"
          ></div>
          
          <style type="text/css">
            .ldBar path.mainline {
              stroke: #456158;
              stroke-width:10px;
            }
            .ldBar path.baseline{
                stroke:rgba(255, 255, 255, 0.5);
                stroke-width:25px;
            }
            .play {
                margin-top: 50px;
                margin-left: 50px;
                margin-right: 50px;
                width: 500px; 
                height:500px
            }

            .layer1 {
                position:absolute;
                margin-top: 145px;
                margin-left:95px;
                z-index: 2;
            }

            .layer2 {
                position:absolute;
                z-index: 1;
            }
            
          </style>
          
          </div>
          <!-- toggle halfway  -->
            <div>
                <!-- Rounded switch -->
                <p class="inline">Halfway Notification</p>

                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>


            <!-- song list -->
            <div class=" w-450 my-5 mr-16">
                <div class="flex bg-playlist-gray min-w-fit h-fit p-6 rounded-t-2xl ">
        

                    <img class="w-32 h-32 object-cover" id="cover" src= <%= cover_art ;%> alt="cover art">
                    <!-- for hover cove art change overlay -->
                    
                    <!-- <div class="w-32 h-32 opacity-0 hover:opacity-100 absolute">
                        <img class="" src= "/pencil.svg" alt="edit icon">
                           </div> -->
  

                    <!-- <div class="w-32 h-32 opacity-0 hover:opacity-100 absolute">
                        <img class="absolute" src= "/pencil.svg" alt="edit icon">
                            <input id="image_file" class="w-full h-full opacity-0 absolute" type="file" name="cover_art">
                    </div> -->

  
                    <div class="flex-col w-full">
                        <p id="playerTitle" class="text-2xl text-right text-white "><%= playlistTitle ;%> </p>
                        <p id="playingType" class="text-s text-right text-white  pb-4">Playlist</p>
                        <p id="playerLengthLabel" class="text-s text-right text-white  pb-4"><%= playlistLength ;%></p>
                        <img id="shuffle"
                             class="fixed top-50 right-20 mr-2 hover:cursor-pointer shuffle_off w-7 float-right"
                             src="/shuffle_unselected.png" alt="shuffle">
                    </div>


                </div>

                <div class="bg-playlist-gray h-96 justify-end py-2 px-6 rounded-b-2xl overflow-auto ">

                    <% if (songs.length > 0) { %>
                        <% songs.forEach(song=> { %>
                        <div id="<%= song.title ;%>" class="flex hover:bg-gray-shadow p-1 rounded-md justify-between ">
                            <div class="w-5/6">
                                <p data-songTitle="<%= song.title ;%>" class="songTitle  font-bold text-white">
                                    <%= song.title ;%>
                                </p>
                                <p class="artist  text-white text-sm">
                                    <%= song.artist ;%>
                                </p>
                            </div>

                            <div class="flex items-center justify-cente">

                                <p class="time  text-white text-sm ">
                                    <%= song.length ;%>
                                </p>
                            </div>

                        </div>

                        <% }); %>
                    <% } %>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Halfway popup -->
<div class="relative">
    <p class="absolute text-black bg-white flex justify-center text-center rounded-2xl" style="left: 25%; right: 25%; width: 50%; font-size: 50px; display: none;" id="myHalfway">Halfway done!</p >
</div>

<script src="/player.js"></script>

</body>


</html>
